[submodule "third_party/googleapis"]
	path = third_party/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "third_party/protoc-gen-validate"]
	path = third_party/protoc-gen-validate
	url = git@github.com:envoyproxy/protoc-gen-validate.git
